<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title id="hometitle">Delekeun</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome/styles.css"/> -->
    <link rel="stylesheet" href="../style/phone.css"/>
  </head>
  <body>
    <div class="row bg-secondary">
        <div class="col-xs-8 col-sm-8 device" style="position:relative;">

            <div class="header-bar bg-dark">
            </div>
        
            <canvas id="canvas">
                screen
            </canvas>
        
            <div class="footer-bar bg-dark">
        
            </div>

        </div>
        <div class="col-xs-4 col-sm-4 control">

        </div>
    </div>

  </body>
  <script src="../controller/phone.js"></script>
</html>